.element{
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: space-around;
  padding-bottom: 25px;
}

.choice-btn {
  padding: 20px 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid #e5e7eb;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 160px;
}

/* Hover */
.choice-btn:hover {
  background-color: #f9fafb;
  border-color: #3b82f6;
  transform: translateY(-3px);
}

/* Quand sélectionné */
.choice-btn.active {
  background-color: #3b82f6;
  color: white;
  border-color: #3b82f6;
}
